/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.logo {
    font-family: 'Raleway', sans-serif;
}
.app-bar {
  padding: 5px 30px;
  background-color: #00BCD4;
}
.logo {
  color: white;
  font-size: 28px;
  line-height: 1.3em;
  font-weight: 300;
  cursor: pointer;
}
.data {
  color: white;
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 400;
  cursor: pointer;
}

.special-val {
  text-align: center;
}

.cur-temp {
  padding-top: 33px;
  font-size: 2em;
  display: block;
}

.cur-data {
  font-size: 0.9em;
  padding-left: 1em;
}

.main-content {
  padding: 2em 0 15px 0;
}

.col-xs-12,
.col-xs-8,
.col-xs-4 {
  position: relative;
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-4 {
  width: 33.33333%;
}


.clear-day::before {
  content:"<i class="wi wi-day-sunny"></i>";
}
.clear-night::before {
  content:"<i class="wi wi-night-clear"></i>";
}
.rain::before {
  content:"<i class="wi wi-rain"></i>";
}
.snow::before {
  content:"<i class="wi wi-day-snow"></i>";
}
.sleet::before {
  content:"<i class="wi wi-day-sleet"></i>";
}
.wind::before {
  content:"<i class="wi wi-windy"></i>";
}
.fog::before {
  content:"<i class="wi wi-fog"></i>";
}
.cloudy::before {
  content:"<i class="wi wi-cloudy"></i>";
}
.partly-cloudy-day::before {
  content:"<i class="wi wi-day-cloudy"></i>";
}
.partly-cloudy-nighthail::before {
  content:"<i class="wi wi-night-cloudy"></i>";
}
.thunderstorm::before {
  content:"<i class="wi wi-day-thunderstorm"></i>";
}
.tornado::before {
  content:"<i class="wi wi-tornado"></i>";
}
